<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>添加药品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/hospital/style.css' %}">
    <link href="{% static 'fonts/hospital/iconfont.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<table class="layui-table details_table1" width="100%" border="0" cellpadding="0" cellspacing="0"
       data-table="add_goods" id="goods">
    <thead>
    <tr>
        <th colspan="6">添加药品</th>
    </tr>
    </thead>
    <tbody class="layui-form" lay-filter="drugs">
    <tr>
        <td width="10%">所属机构&nbsp;<span class="red">*</span></td>
        <td width="10%"><select name="company" id="company" lay-search>
            <option value="">请选择</option>
        </select>
        </td>
        <td width="10%">药材类型</td>
        <td width="10%"><select name="drugsType" id="drugsType">
{#            <option value="">请选择</option>#}
            <option value="0" >中药</option>
            <option value="1" >西药</option>
            <option value="2" >免煎颗粒</option>
        </select>
        </td>
        <td width="10%">药材状态</td>
        <td width="10%"><select name="drugsStatus" id="drugsStatus">
            <option value="">请选择</option>
            <option value="1" >已启用</option>
            <option value="0" >已停用</option>
        </select>
        </td>
    </tr>
    <tr>
        <td width="10%">药品编码&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" class="table_input" name="drugsCode" id="drugsCode"></td>
        <td width="10%">药品名称&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="drugsName" id="goodsName" class="table_input"></td>
        <td width="10%">单位&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="unit" id="unit" class="table_input"></td>
    </tr>
    <tr>
        <td width="10%">结算价&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="price" id="price" class="table_input"></td>
        <td width="10%">销售价&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="salePrice" id="salePrice" class="table_input"></td>
        <td width="10%">简码&nbsp;<span class="red">*</span></td>
        <td width="10%"><input type="text" name="shortCode" id="shortCode" class="table_input"></td>
    </tr>
    <tr>
        <td width="10%">别名1</td>
        <td width="10%"><input type="text" name="alias1" id="alias1" class="table_input"><i onclick="aliasPlus();"
                                                                                            class="iconfont icon-tianjia"></i>
        </td>
        <td colspan="4"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-goods-back-save">保存</button>
        </td>
    </tr>
    </tfoot>
</table>

<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'js/hospital/jquery-1.12.3.min.js' %}"></script>
<script>

    function aliasPlus() {
        console.log('点到了');
        var lerLength = $('[data-table=add_goods] > tbody > tr').length - 2;
        if (lerLength > 10) {
            layer.msg("最多只能输入10个别名");
            return false;
        }
        var html = '';
        html += '<tr>';
        html += '<td width="10%" data-table="add_alias">别名</td>';
        html += '<td width="10%"><input type="text" data-table="add_lod" class="table_input" id="alias" name="alias"><i onclick="aliasMinus();" class="iconfont icon-jian2"></i></td>';
        html += '</tr>';
        $('[data-table=add_goods]').append(html);
        $('[data-table=add_alias]').each(function (i, data) {
            $(this).html('别名' + (i + 2));
        });
        $('[data-table=add_lod]').each(function (i, data) {
            $(this).attr("name", "alias" + (i + 2));
            $(this).attr("id", "alias" + (i + 2));
        })
    };

    function aliasMinus() {
        $('[data-table=add_goods] > tbody > tr:last-of-type').remove();
    };

    //获取商品别名
    function getAlias() {
        var lastAlias = $("#goods").find('tbody').find('tr:last').find('td').eq(1).find('input').attr('id');
        {#console.log(lastAlias);#}
        var endIndex = parseInt(lastAlias.replace(/[^0-9]/ig, ""));
        {#console.log(endIndex);#}
        {#console.log(typeof endIndex);#}
        var obj = {};
        for (endIndex; endIndex > 0; endIndex--) {
            var key = 'alias' + endIndex;
            var value = $("#" + key).val();
            obj[key] = value;
        }
        {#console.log(obj);#}
        return obj;
    }

    function checkData(data) {
        if (data.company == "") {
            layer.msg("请选择机构！");
            $("#company").focus();
            return false;
        }
        if (data.drugsCode == "") {
            layer.msg("请输入药品编码！");
            $("#drugsCode").focus();
            return false;
        }
        if (data.drugsName == "") {
            layer.msg("请输入药品名称！");
            $("#drugsName").focus();
            return false;
        }
        if (data.unit == "") {
            layer.msg("请输入药品单位！");
            $("#unit").focus();
            return false;
        }
        if (data.shortCode == "") {
            layer.msg("药品简码不能为空！");
            $("#shortcode").focus();
            return false;
        }
        if (data.price == "") {
            layer.msg("请输入药品结算价！");
            $("#price").focus();
            return false;
        }
        if (data.salePrice == "") {
            layer.msg("请输入药品销售价！");
            $("#salePrice").focus();
            return false;
        }
        return true;
    }

    layui.use(['form', 'table', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        window.layer = layui.layer;

        //get请求机构信息，渲染select
        $.get("{% url 'hospital_client:company' %}", {}, function (data) {
            var list = JSON.parse(data);
            if (list != null || list.size() > 0) {
                for (var i = 0; i < list.length; i++) {
                    $("#company").append("<option value=" + list[i].pk + ">" + list[i].fields.name + "</option>");
                }
            }
            form.render('select');
        });

        //监听保存
        form.on('submit(LAY-goods-back-save)', function (data) {
            var drugsDatas = form.val("drugs");   //获取表单值
            {#console.log(drugsDatas);#}
            var status = checkData(drugsDatas);
            if (status){
                $.ajax({
                url: "{% url 'hospital_client:addDrugs' %}",
                {#data: JSON.stringify(goodsdata),#}
                data: drugsDatas,
                dataType: "TEXT",
                type: "POST",
                csrfmiddlewaretoken: '{{ csrf_token  }}',
                success: function (res) {
                    var msg = eval("(" + res + ")");        //坑！必须转换成json对象后才能判断status
                    if (msg.status === 'success') {
                        alert('药品添加成功');
                        var url = '{% url 'hospital_client:addDrugs' %}';
                        var tab_id_new = "add_drugs";
                        var tab_id = "add_drugs";
                        var title = "添加药品";
                        parent.addTabNew(tab_id_new,url,title,tab_id);
                    } else {
                        layer.msg(msg.message);
                    }
                    reset();
                }
            });
            }
        });

    });


</script>
</body>
</html>